.hero{
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.hero-left{
    justify-content: left;
}

.hero-right{
    justify-content: right;
}

.profile {
    height: 500px;
    border-radius: 20%;
}

.about{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

p{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

h2{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

h1 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body{
    background: linear-gradient(#005fec, #9198e5);
}

.card {
    background-color: #fff;
    color: black;
    border-radius: 20px;
    padding: 20px;
}

.hidden {
    display: none;
    color: black;
}

.q {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: black
}